@model TrakGud.DAL.Models.DItem

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRemoved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRemoved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpireTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpireTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpireMargin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpireMargin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFixed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFixed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsExpired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsExpired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adder.PasswordHash)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modder.PasswordHash)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prod.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
